<a ui-sref="home" >Torna alla home</a>
<h1>Modifica</h1>

<section class="row">
    <form class="form-horizontal">

        <div class="form-group">
            <label for="txtName" class="col-md-2 control-label">Nome:</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="txtName" placeholder="Nome" ng-model="name">
            </div>
        </div>
        <div class="form-group">
            <label for="txtName" class="col-md-2 control-label">Messaggio:</label>
            <div class="col-md-8">
                <textarea placeholder="Messaggio" ng-model="messaggio"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button type="button" class="btn btn-default" ng-click="updateClick()">Invia</button>
            </div>
        </div>
    </form>
</section>