
<div class="navbar navbar-fixed-top navbar-default navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-left" ui-sref="home"><img src="images/logoFinal.png" class="image" id="HomeLink"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="example">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">Link2</a></li>
            </ul>
            <form action="" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search your note">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>

<section class="row body2">
    <form class="form-horizontal">

        <div class="form-group">
            <label for="txtName" class="col-md-2 control-label">Titolo della nota:</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="txtName" placeholder="Nome" ng-model="messaggio">
            </div>
        </div>
            <input id="file" name="file" type="file" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button type="button" class="btn btn-default" ng-click="insertClick()">Invia</button>
            </div>
        </div>
        <img src="" id="tableBanner" />
    </form>
</section>