<a ui-sref="home" >Torna alla home</a>
<h1>Inserimento</h1>

<section class="row">
    <form class="form-horizontal">

        <!--<div class="form-group">
            <label for="txtName" class="col-md-2 control-label">Nome:</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="txtName" placeholder="Nome" ng-model="messaggio">
            </div>
        </div>
            <input id="file" name="file" type="file" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button type="button" class="btn btn-default" ng-click="insertClick()">Invia</button>
            </div>
        </div>
        <img src="" id="tableBanner" />-->
        <textarea id="edit" name="content"></textarea>
    </form>
</section>
