.productIcons{
    font-size: 2em;
}

.elemento{
    text-align: center;
    height: 180px;
    border: solid 1px cornflowerblue;
}

.add{
    font-size: 9.5em;
}

span{
    font-weight: bold;
}

h1{
    background-color: lightsteelblue;
    border: double 5px royalblue;
    border-radius: 20px;
    text-align: center;
}